@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap');

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

* {
  box-sizing: border-box;
  box-sizing: border-box !important;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.uname {
  border: inherit;
  background-color: transparent;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  border-radius: 30px;
  border-top: 100px;
  margin-bottom: 10px;
  background-color: white;
  padding-left: 40px;
  

}
.unames {
  border: inherit;
  background-color: #fff;
  height: 50px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  border-radius: 30px;
  border-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  

}

.banner_main {
  padding: 20px 10px 70px 0px;
}
.main_form {
  padding: 60px 50px 80px 50px;
  background: #1E5128;
  border-radius: 10px;
  border-top: #4E9F3D solid 15px;
}
.akhir {
  padding-right:2px; 
  color: rgb(0, 0, 0);
  background-color: red;
  width: 30%; border: transparent;
  border-radius: 15px;
  padding: 15px;
  font-size: 16px
}

.main_form .contactus {
  border:#b3aeb5;
  margin-bottom: 30px;
  width: 100%;
  height: 50px;
  background:white;
  color:#000;
  font-size: 18px;
  padding-left: 50px;
  font-weight: 400 ;
  border-radius:25px;
  border-bottom:#5f5d60 solid 1px;
}

.main_form .textarea {
  border: #f6c2d7 solid 1px;
  padding: 0px 19px;
  margin-bottom: 20px;
  width: 100%;
  background: transparent;
  color: #f5bed2;
  font-size: 16px;
  font-weight: 500;
  border-radius: 15px;
  padding-top: 35px;
}

.main_form .send_btn {
  font-size: 17px;
  transition: ease-in all 0.5s;
  background-color: #000;
  color: #fff;
  padding: 13px 0px;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 25px;
}
.main_form .send_btn {
  font-size: 17px;
  transition: ease-in all 0.5s;
  background-color: #4E9F3D;
  color: #fff;
  padding: 13px 0px;
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  display: block;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 25px;
}

.main_form .send_btn:hover {
  background-color: #D8E9A8;
  transition: ease-in all 0.5s;
  color: #4E9F3D;
}




.container {
  max-width: 1170px;
  padding: 0 1px;
  margin: auto;
  
}
.container p {
  max-width: 1170px;
  padding: 0 1px;
  margin: auto;
  color: #000;
  font-size: 25px;
}
.cont {
  max-width: 1190px;
  padding: 0 19px;
  margin: 1px;
}
.contain {
  max-width: 600px;
  padding: 10px;
  margin: 0 auto;
}
.contai {
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
}

.top-wrapp {
  padding: 10px 0 100px 0;
  background-image: url('images/Pattern.png');
  background-size: cover;
  color:#fff;
  
  text-align:left;
}
.top-wrapper {
  padding: 70px 0 100px 0;
  background-image: url('images/Pattern.png');
  background-size: cover;
  color:#000;
  text-align:left;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 10px ;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #4E9F3D;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display:table-column;
  opacity: 0.7;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-image: url(./images/pattern.png);
  position:absolute;
  background-color: #d8e9a8b4;
  top: 0;
  z-index: 10;
}

.gambar-logo {
  width: 10px;
  
  margin-top: 0px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: 5px;
}

.header-right a {
  line-height: 5px;
  padding: 0 10px;
  color:#000;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #1a7940;
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
  
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
