

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1500px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .cont h3 {
        font-size: 40px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 0px 10px;
    }
    .Call a {
        font-size: 18px;
    }
    .text-bg h1 {
        font-size: 40px;
        line-height: 60px;
    }
    .food .food_box {
        margin-top: 85px;
    }
    .food_box i img {
        margin-top: -85px;
    }
    .main_form {
        padding: 60px 30px 80px 30px;
    }
    .food .food_box {
        padding: 0px 15px 30px 15px;
    }
    .food .food_box p,
    .works .works_box p {
        font-size: 15px;
        line-height: 25px;
    }
    .works .works_box {
        padding: 0px 15px 30px 15px;
    }
    .cont h3 {
        font-size: 29px;
        line-height: 44px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .header {
        padding: 15px 30px 10px 30px;
    }
    .mean-container .mean-bar {
        margin-top: 0px;
    }
    .text-bg h1 {
        font-size: 77px;
        line-height: 100px;
    }
    .text-bg {
        padding-bottom: 30px;
    }
    .titlepage h2 {
        font-size: 39px;
    }
    .cont h3 {
        font-size: 33px;
    }
    .clients_imgfood {
        padding-right: 0px;
        padding-top: 75px;
    }
    .main_form {
        padding: 60px 30px 80px 30px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
    }
    .navigation .navbar-collapse {
        background: #1E5128;
        padding: 20px;
        margin-top: 52px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #eda911 !important;
    }
    .navigation.navbar-dark .navbar-toggler {
        border: inherit;
        float: right;
        padding-top: 6px;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }
    .Call {
        display: none;
    }
}

@media (max-width: 575px) {
    .header {
        padding: 30px 0px 15px 0px;
    }
    .logo {
        text-align: center !important;
        padding-bottom: 6px;
        float: left;
    }
    .text-bg h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .works .works_box h4 {
        margin-left: -42px;
    }
    .Call {
        display: none;
    }
    .text-bg {
        padding-bottom: 30px;
    }
    .titlepage h2 {
        font-size: 29px;
        line-height: 40px;
    }
    .clients_imgfood {
        padding-right: 0px;
        padding-top: 75px;
    }
    .food .titlepage span {
        padding: 0;
    }
    .main_form {
        padding: 60px 30px 80px 30px;
    }
    .cont h3 {
        font-size: 19px;
        line-height: 33px;
    }
    .copyright p {
        font-size: 12px;
    }
    .navigation.navbar {
        float: right;
        display: inherit !important;
        padding: 0;
        width: 100%;
        margin-top: -45px;
    }
    .navigation .navbar-collapse {
        background: #191A19;
        padding: 20px;
        margin-top: 62px;
        position: absolute;
        width: 100%;
        margin-right: 20px;
        z-index: 999;
    }
    .navigation.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: #fff;
    }
    .navigation.navbar-dark .navbar-toggler {
        float: right;
        margin-right: 2px;
        border: inherit;
    }
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: #eda911 !important;
    }
    .navigation.navbar-dark .navbar-toggler-icon {
        background: url(../images/menu_icon.png);
        background-repeat: no-repeat;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        display: none;
    }
    .cont_call h3 {
        font-size: 33px;
        line-height: 49px;
    }
}


#subscribe, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;
}
#login{
	z-index: 22;
}

/**** general text styling ****/
#wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
	background: 
	-webkit-repeating-linear-gradient(-45deg, 
		rgb(18, 83, 93) , 
		rgb(18, 83, 93) 20px,
		rgb(64, 111, 118) 20px,
		rgb(64, 111, 118) 40px,
		rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

#wrapper h1:after{
	content:' ';
	display:block;
	width:100%;
	height:2px;
	margin-top:10px;
	background: 
		linear-gradient(left,  
			rgba(147,184,189,0) 0%,
			rgba(147,184,189,0.8) 20%,
			rgba(147,184,189,1) 53%,
			rgba(147,184,189,0.8) 79%,
			rgba(147,184,189,0) 100%); 
}